.AdminLogin form{
    width: 600px;
    display: grid;
    grid-template-columns: 200px 300px;
    justify-content: center;
    padding: 10px ;
    box-shadow: 0px 0px 20px white;
    border-radius: 20px;
}
.AdminLogin input{
    margin: 10px;
}
.AdminLogin{
    background-image: url(https://img.freepik.com/free-vector/geometric-gradient-futuristic-background_23-2149116406.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1716854400&semt=ais_user);
    background-repeat: no-repeat;
    background-size: cover;
    color: white ;
    font-size: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.AdminLogin p{
    font-size: 25px;
}